$font_size_m: 16px;
$font_size_l: $font_size_m * 1.5;
$font_size_s: $font_size_m * 0.8;
$background_color: #efe9e7;
$text_color: #3d1101;

@mixin pad{
    @media(max-width: 767px){
        @content        
    }
}

.footer{
    background-color: $background_color;
    .footer-info{
        padding: 1em;
        display: flex;
        justify-content: space-between;
        @include pad(){
            display: block;
        }
        .footer-box{
            color: $text_color;  
            width: 33.333%;
            margin-right: 25px;
            line-height: 1.2;
            @include pad(){
                width: 100%;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            h2{
                font-size: $font_size_l;
                font-weight: 700;
                margin-bottom: 20px;
                border-left: 5px solid $text_color;
                padding: 10px 20px;
            } 
            &:last-child{
                text-align: right;
                margin-right: 0px;
            } 
            .contact{
                margin-left: 18px;
                li{
                list-style: disc;
                }
                a{  
                    color: $text_color;
                }
            }
            img{
                margin-bottom: 20px;
            }
            .footer-icons{
                display: flex;
                justify-content: flex-end;
                li{
                    margin-left: 10px;
                }
                i{
                font-size: 250%;
                }
                .google{
                    color: #dd4b39;
                }
                .twitter{
                    color: #55acee;
                }
                .facebook{
                    color: #3b5998;
                }
            }     
        }
    }
}